{extends file="Admin/View/Public/layout.html"}
{block name="main"}
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="{$smarty.const.__MODULE__}">首页</a>
        <span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="{$smarty.const.__CONTROLLER__}/index">{$tcname}管理</a>
        <span class="crumb-step">&gt;</span>
        <span class="crumb-name">详情</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-title">
        <div class="result-list">
            <a href="{val(I('get.back'), '{$smarty.const.__CONTROLLER__}/index')}">返回</a>
        </div>
    </div>
    <table class="result-tab" width="100%">
                                        
        <tr>
            <td valign="top" width="20%">名称</td>
            <td>
                {if $data.name !== NULL}
                                
                {$data.name}
                                
                {/if}
            </td>
        </tr>
                                
        <tr>
            <td valign="top" width="20%">排序</td>
            <td>
                {if $data.rank !== NULL}
                                
                {$data.rank}
                                
                {/if}
            </td>
        </tr>
                    
    </table>
</div>
{/block}