{extends file="Admin/View/Public/layout.html"}
{block name="main"}
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="{$smarty.const.__MODULE__}">首页</a>
        <span class="crumb-step">&gt;</span>
        <a class="crumb-name" href="{$smarty.const.__CONTROLLER__}/index">{$tcname}管理</a>
        <span class="crumb-step">&gt;</span>
        <span class="crumb-name">修改</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{setValue('id')}">
            <input type="hidden" name="_csrf" value="{$smarty.session.csrf}">
            <table class="insert-tab" width="100%">
                <tbody>
                                                                                                    
                    <tr>
                        <th width="20%" valign="top">
                                                        
                            <i class="require-red">*</i>
                                                                                    
                            名称：
                                                    
                        </th>
                        <td>
                                                        
                            <input type="text" name="name" id="name" class="common-text" value="{setValue('name', $data.name)}">
                                                        
                            <div style="color: red">{$error.name}</div>
                        </td>
                    </tr>
                                                                                
                    <tr>
                        <th width="20%" valign="top">
                                                                                    
                            排序：
                                                    
                        </th>
                        <td>
                                                        
                            <input type="text" name="rank" id="rank" class="common-text" value="{setValue('rank', $data.rank)}">
                                                        
                            <div style="color: red">{$error.rank}</div>
                        </td>
                    </tr>
                                                                                
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick='window.location.href = "{val(I('get.back'), '{$smarty.const.__CONTROLLER__}/index')}"' value="返回" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>



<script>
                                    
</script>
{/block}