{extends file="Admin/View/Public/layout.html"}
{block name="main"}
<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font"></i>
        <a href="{$smarty.const.__MODULE__}">首页</a>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{$smarty.session.csrf}">
            <table class="insert-tab" width="100%">
                <tbody>

                <tr>
                    <th width="20%" valign="top">

                        <i class="require-red">*</i>

                        原密码：

                    </th>
                    <td>

                        <input type="password" name="old_password" id="old_password">

                        <div style="color: red">{$error.old_password}</div>
                    </td>
                </tr>

                <tr>
                    <th width="20%" valign="top">

                        <i class="require-red">*</i>

                        新密码：

                    </th>
                    <td>

                        <input type="password" name="password" id="password">
                        <div>请再次输入密码</div>
                        <input type="password" name="repassword" id="repassword">

                        <div style="color: red">{$error.password}</div>
                    </td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                        <input class="btn btn6" onclick='window.location.href = "{$smarty.server.HTTP_REFERER}"' value="返回" type="button">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
{/block}